[submodule "submodules/StudentConfiguration"]
	path = submodules/StudentConfiguration
	url = https://vagrawal@gitlab.hs-esslingen.de/IT-Allgemein-LaborVerwaltung/StudentConfiguration.git
[submodule "submodules/template-repo"]
	path = submodules/template-repo
	url = https://vagrawal@gitlab.hs-esslingen.de/IT-Allgemein-LaborVerwaltung/template-repo.git
[submodule "submodules/examples-repo"]
	path = submodules/examples-repo
	url = https://vagrawal@gitlab.hs-esslingen.de/IT-Allgemein-LaborVerwaltung/examples-repo.git
[submodule "GettingStarted"]
	path = submodules/GettingStarted
	url = https://vagrawal@gitlab.hs-esslingen.de/IT-Allgemein-LaborVerwaltung/Documents
[submodule "chisubmit"]
	path = external-labverwaltung-software/chisubmit
	url = https://github.com/uchicago-cs/chisubmit
[submodule "assigner"]
	path = external-labverwaltung-software/assigner
	url = https://github.com/redkyn/assigner.git
